//Variables
$btn-outline-border-width: 2px;
$body-font-family: "Sarabun", sans-serif;
$subheader-item-single-height: 24px;
$tooltip-background-color: black !default;
$stepper-alt-labels-flex-basis: 0 !default;
$stepper-alt-labels-header-divider: 24px -24px 0 !default;
$stepper-elevation: 0;
$stepper-header-elevation: 0;
$stepper-content-padding: 24px 0 16px 0;

@import "~vuetify/src/styles/styles.sass";
@import "~vuetify/dist/vuetify.min.css";
